
@mixin screen {
    @media screen and (min-width: 800px) {
        @content;
    }
}


@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}


@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}