// importing variables
@import '../../styles/variables';
@import '../../styles/mixin';


nav {
    width: 100%;
    height: 60px;
    padding: 0 30px;

    position: fixed;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;


    @include tablet {
        background: rgba(57, 57, 57, 0.7);
    }
    
    a {
        color: white;
    }

    .logo {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.4rem;
        color: $first-color;
        white-space: nowrap;
    }

    .nav-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        text-align: center;
        text-shadow: 0 0 10px black;

        @include mobile {
            flex-direction: column;
            position: absolute;
            top: 60px;
            right: 0;
            height: fit-content;
            background: rgba(57, 57, 57, 0.7);
            width: 100%;
            box-shadow: 0 3px 3px gray;
        }

        a {
            margin: 0 10px;
            width: 100px;
            padding: 10px 5px;

            &.active, &:hover {
                text-decoration: 3px underline solid $first-color;
                text-underline-position: under;
                transition: 0.5s;
                font-weight: bold;
            }

            @include tablet {
                margin: 0;
            }
        }
    }

    .nav-toggle {
        display: none;
        color: $first-color;
        font-size: 1.4rem;
        margin-top: 7px;

        &:hover {
            cursor: pointer;
        }

        @include mobile {
            display: block;
        }
    }

    @include mobile {
        #hidden {
            display: none;
        }    
    }
}