@import '../../styles/variables';
@import '../../styles/mixin';


.container-projects {
    min-height: 100vh;
    padding: 80px 0 20px;

    // border: 1px red solid;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    // padding-top: 20px;

    h2 {
        color: white;
        text-align: center;
        text-shadow: 0 0 10px black;
    }

    .projects {
        width: 75%;
        margin: 20px auto 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // border: 1px green solid;

        @include tablet{
            width: 95%;
            max-width: 650px;
        }

        .box {
            width: 320px;
            height: 240px;
            margin: 10px;
            box-shadow: 0 0 10px gray;
            background: rgba(255, 255, 255, 0.8);
            padding: 10px;
            text-align: center;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include tablet {
                width: 300px;
                margin: 10px 5px;
            }

            @include mobile {
                width: 100%;
                margin: 10px 0;
            }

            div:nth-of-type(1) {
                height: 50%;
                width: 70%;
                margin: 0 auto;
                overflow: hidden;

                img {
                    // vertical-align: top;
	                width: 100%;
                    height: 100%;
                    // object-fit: cover;
                    transition: all 1.3s;

                    &:hover {
                        transform: scale(1.1);
                        transition: 1.5s;
                    }
                }
            }
            

            .card-links {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a:nth-of-type(1) {
                    font-size: 2rem;
                    color: black;

                    &:hover {
                        transform: scale(1.1);
                        transition: 0.6s;
                        // color: $first-color;
                    }
                }

                a:nth-of-type(2) {
                    width: 100px;
                    background: $first-color;
                    border: 2px solid $first-color;
                    color: white;
                    padding: 2px 5px;
                    font-size: 0.9rem;
    
                    &:hover {
                        background: white;
                        box-shadow: 0 0 5px gray;
                        transition: 0.6s;
                        color: $first-color;
                    }
    
                }
            }
            
        }
     }
}

    