@import './styles/_variables.scss';
@import './styles/_mixin.scss';


.icons {
  position: fixed;
  top: calc(50% - 50px);
  right: 40px;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;

  @include tablet{
    top: calc(100% - 120px);
    right: 10px;
  }

  a {
    color: $first-color;

    &:hover, &:active {
      transform: scale(1.2);
      transition: 0.6s;
    }
  }
}