@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* my reset css */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("./images/bg2.jpg");
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: 0 calc(100% - 180px); 

  min-width: 100vw;
  overflow-x: hidden;

  h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
  }
}